<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Enter Your Budget</h2>
        </div>

        <div class="card-body">
            <div class="card-text">
                <p class="m-0 text-center">Please enter your budget below:</p>
            </div>
            <div *ngIf="incorrectQuatity" class="card-text text-center">
                <span class="badge text-bg-danger">the budget must be greater than zero</span>
            </div>
            <div class="mt-2 form-control">
                <input class="w-100 form-control-lg text-center" 
                        type="number" 
                        [(ngModel)]="quatity"
                        name="quatity"
                        placeholder="Your budget:" 
                        (keypress)="readEnter($event)"
                        />
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-info" 
                        type="submit"
                        (click)="addBudget()"
                        >
                        Process Budget
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>