<div class="card mt-2">
    <div class="card-header">
        <h3 class="m-0 text-center">Enter Expense</h3>
    </div>
    <div class="card-body">

        <div *ngIf="incorrectForm" class="card-text text-center">
            <span class="badge text-bg-danger">{{ textMessageIncorrectForm }}</span>
        </div>

        <div class="card-text mt-2">
            <label for="expense">Expense:</label>
            <input [(ngModel)]="nameExpense" class="form-control" id="expense" type="text" placeholder="Expense:">
        </div>

        <div class="card-text mt-2">
            <label for="quantityProcess">Quantity:</label>
            <input [(ngModel)]="quantityNumber" class="form-control" id="quantityProcess" type="number" placeholder="Quatity:">
        </div>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-info"
                (click)="addExpense()"
            >
                Process
            </button>
        </div>
    </div>
</div>